################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/tp4_genie
/TP#4_2025/JeuHoyEtudiants/.vs/JeuHoy/FileContentIndex
/TP#4_2025/JeuHoyEtudiants/.vs/JeuHoy/v17/.suo
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/obj/Debug/JeuHoy_WPF_Natif_MarkupCompile.cache
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/bin/Debug/JeuHoy_WPF_Natif.exe
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/bin/Debug/JeuHoy_WPF_Natif.pdb
/TP#4_2025/JeuHoyEtudiants/.vs/JeuHoy/FileContentIndex/280d8fe6-ece8-483d-ab50-cfb9fd770347.vsidx
/TP#4_2025/JeuHoyEtudiants/.vs/JeuHoy/FileContentIndex/4a83d881-fd32-4df2-a3cf-b3ad665933d5.vsidx
/TP#4_2025/JeuHoyEtudiants/.vs/JeuHoy/FileContentIndex/7076570a-ab38-4e4b-ad19-cce17fb44be8.vsidx
/TP#4_2025/JeuHoyEtudiants/.vs/JeuHoy/FileContentIndex/ae89df0a-5c94-4a04-b004-7da8897cda81.vsidx
/TP#4_2025/JeuHoyEtudiants/.vs/JeuHoy/FileContentIndex/e5832b02-a5a9-4a60-aad4-c179045941ce.vsidx
/TP#4_2025/JeuHoyEtudiants/.vs/JeuHoy/v17/DocumentLayout.backup.json
/TP#4_2025/JeuHoyEtudiants/.vs/JeuHoy/v17/DocumentLayout.json
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/obj/Debug/JeuHoy_WPF_Natif.csproj.CoreCompileInputs.cache
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/obj/Debug/JeuHoy_WPF_Natif.csproj.FileListAbsolute.txt
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/obj/Debug/JeuHoy_WPF_Natif.csproj.GenerateResource.cache
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/obj/Debug/JeuHoy_WPF_Natif.exe
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/obj/Debug/JeuHoy_WPF_Natif.pdb
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/obj/Debug/JeuHoy_WPF_Natif_MarkupCompile.cache
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/obj/Debug/JeuHoy_WPF_Natif_MarkupCompile.lref
*.sqlite
*.json
*.wsuo
*.baml
*.sqlite-journal
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/obj/Debug/JeuHoy_WPF_Natif_MarkupCompile.i.lref
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/obj/Debug/JeuHoy_WPF_Natif_MarkupCompile.i.cache
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/obj/Debug/JeuHoy_WPF_Natif.csproj.AssemblyReference.cache
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/obj/Release/JeuHoy_WPF_Natif_MarkupCompile.cache
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/bin/Debug/Perceptrons/perceptron_4.dat
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/bin/Debug/Perceptrons/perceptron_2.dat
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/bin/Debug/Perceptrons/perceptron_10.dat
/TP#4_2025/JeuHoyEtudiants/JeuHoy_WPF_Natif/bin/Debug/Perceptrons/perceptron_1.dat
